.ms--white-blue {
    background-color: white;
    color: #031b4e;
}
.ms--lightblue-blue {
    background-color: #f3f5f9;
    color: #031b4e;
}
body {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    padding-top: 10px;
    height: 70px;
}
#logo-digital {
    height: 100%;
}
.navbar-brand {
    padding: 0;
}
.navbar-right .btn-default {
    margin-top: 8px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: #0049ff;
    border-color: #0049ff;
}
.navbar-right .btn-default:hover {
    background-color: #0049ff;
    color: white;
}
#link-nav {
    color: #031b68;
}
#link-nav:hover {
    color: #0049ff;
}
.glyphicon-menu-down {
    margin-left: 5px;
}
.navbar-default .navbar-toggle {
    border-color: #0049ff;
}
.nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
}
@media all and (max-width: 768px) {
    .navbar {
        background-color: #0049ff;
    }
}

/* seconda row */
.jumbotron {
    margin-top: 70px;
    background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
}
.jumboform {
    max-width: 80%;
}
.jumbotron h1 {
    color: white;
}
.jumbotext p {
    font-size: 24px;
    color: #c5daff;
}
.formdeploy {
    padding-top: 40px;
    background-color: white;
    border-radius: 8px;
}
.form-horizontal h2 {
    color: #031b4e;
}
.form-control {
    font-size: 18px;
    margin-left: 20px;
    width: 90%;
}
.btn-create button {
    background-color: #0049ff;
    color: white;
    width: 80%;
    border-radius: 6px;
}
.btn-create .btn-default:hover {
    background-color: #031b4e;
    color: white;
}
.ms--signup::before, .ms--signup::after {
    content: '';
    display: inline-block;
    width: 20%;
    height: 1px;
    background-color: #5b6987;
    position: relative; bottom: 4px;
}
.ms--signup span {
    color: #5b6987;
    font-size: 15px;
}
.lower-btns .btn-lg {
    background-color: #f3f5f9;
    width: 40%;
}
.lower-btns .btn-lg:hover {
    background-color: #d5e4f7;
}
.lower-btns i {
    margin-right: 8px;
}
.lower-btns {
    margin-top: 20px;
}
.formdeploy p {
    font-size: 12px;
    color: #939eb5;
}
.terms {
    margin-top: 40px;
}

/* terza row */
.business {
    background-color: #f3f5f9;
}
.top-writing {
    margin-top: 40px;
}
.top-writing p {
    font-size: 13px;
    color: #939eb5;
}
.imglink img {
    height: 100px;
    object-fit: contain;
}
.bottom-writing {
    margin-bottom: 25px;
}
.bottom-writing a {
    font-size: 14px;
}
/* quarta row */
.ms--middletext h2 {
    color: #031b4e;
}
.ms--middletext p {
    font-size: 16px;
    color: #8e5f83;
}
.menudeploy {
    margin-top: 40px;
}
.scala {
    color: #aa8da6;
    line-height: 38px;
    margin-left: 15px;
    border-left: 1px solid blue;
}
.scala p {
    margin-left: 6px;
    font-size: 14px;
}
.scala:hover {
    color: blue;
}
.logofake .glyphicon {
    font-size: 24px;
    color: #0049ff;
}
.titlefake h5 {
    color: #0a1b4e;
}
.kubernetes {
    margin-top: 30px;
}
.kubernetes p {
    color: #aa8da6;
}
.flexcom {
    margin-top: 30px;
}
.flexcom p {
    color: #aa8da6;
}
.marketplace {
    margin-top: 30px;
}
.marketplace p {
    color: #aa8da6;
}
.global {
    margin-top: 30px;
}
.global p {
    color: #aa8da6;
}
/* quinta row */
.ms--middletext-down {
    padding-top: 60px;
}
.ms--middletext-down h2 {
    color: #031b4e;
}
.ms--middletext-down p {
    margin-top: 30px;
    font-size: 16px;
    color: #8e5f83;
}
.ms--middledowntext-down p {
    margin-top: 20px;
    font-size: 12px;
    color: #8e5f83;
}
/* sesta row */
.titletrue h5 {
    font-size: 18px;
    color: #0a1b4e;
}
.ms--cards p {
    font-size: 13px;
    color: #aa8da6;
}
.ms--cards a {
    font-size: 13px;
    color: #0049ff;
    text-decoration: none;
}
.ms--cards {
    margin-top: 25px;
}
/* settima row */
.ms--earth {
    padding-top: 40px;
    color: white;
    background-color: #0a1b4e;
}
.ms--stripe {
    line-height: 20px;
    background-color: #0a1b4e;
    border-bottom: 1px solid white;
    width: 100%;
}
.ms--stripe-sx, .ms--stripe-cnt, .ms--stripe-link {
    background-color: #0a1b4e;
    display: inline-block;
}
.ms--stripe-cnt {
    color: #aa8da6;
    font-size: 12px;
    margin-left: 50px;
}
.ms--stripe-link {
    font-size: 12px;
    float: right;
}
.ms--second-section {
    margin-bottom: 50px;
}
@media all and (max-width: 992px) {
    .ms--second-section {
        margin-top: 40px;
    }
}
.ms--bg-compose {
    background-color: #0a1b4e;
}
#change-margin {
    border-bottom: #0a1b4e;
}
.ms--last-title  {
    margin-top: 30px;
    margin-bottom: 40px;
}
.ms--last-title h2 {
    color: white;
}
.pallini {
    height: 60px;
}
.developers-img i {
    color: #0a1b4e;
    font-size: 10px;
}
/* ottava row */
.smartrow {
    background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
    background-size: cover;
    padding-bottom: 40px;
}
.ms--getstarted {
    margin-top: 40px;
    color: white;
}
.ms--gestarted-btn {
    margin-top: 30px;
}
.ms--gestarted-btn .btn-default {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 13px;
    background-color: white;
    color: #0049ff;
}
.ms--gestarted-btn .btn-default:hover {
    background-color: #aa8da6;
}
/* nona row */
.lastsec {

    background-color: #0a1b4e;
}
.ms--last-part-sx {
    margin-top: 50px;
}
.ms--last-part-sx p {
    font-size: 15px;
    color: white;
}
.ms--last-part-sx a {
    text-decoration: none;
    color: #4e5fa7;
    font-size: 12px;
}
.ms--last-part-dx p {
    font-size: 15px;
    color: white;
}
.ms--last-part-dx a {
    text-decoration: none;
    color: #4e5fa7;
    font-size: 12px;
}
.ms--last-part-lst p {
    font-size: 15px;
    color: white;
}
.ms--last-part-lst a {
    text-decoration: none;
    color: #4e5fa7;
    font-size: 12px;
}
