.ms--white-blue {
    background-color: white;
    color: #031b4e;
}
.ms--lightblue-blue {
    background-color: #f3f5f9;
    color: #031b4e;
}
.ms--blue-bg {
    background-color: #0049ff;
}
#logo-digital {
    height: 100%;
}
.navbar-brand {
    padding: 0;
}
.navbar-right .btn-default {
    margin-top: 8px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
    color: #0049ff;
    border-color: #0049ff;
}
.navbar-right .btn-default:hover {
    background-color: #0049ff;
    color: white;
}
#link-nav {
    color: #031b68;
}
#link-nav:hover {
    color: #0049ff;
}
.glyphicon-menu-down {
    margin-left: 5px;
}
.navbar-default .navbar-toggle {
    border-color: #0049ff;
}
@media all and (max-width: 768px) {
    .container-fluid > .navbar-header {
        background-color: #0049ff;
    }
}
/* seconda row */
.jumbotron {
    background-color: #0049ff;
}
.jumboform {
    max-width: 80%;
}
.jumbotron h1 {
    color: white;
}
.jumbotext p {
    font-size: 24px;
    color: #c5daff;
}
.formdeploy {
    padding-top: 40px;
    background-color: white;
    border-radius: 8px;
}
.form-horizontal h2 {
    color: #031b4e;
}
.form-control {
    font-size: 18px;
    margin-left: 20px;
    width: 90%;
}
.btn-create button {
    background-color: #0049ff;
    color: white;
    width: 80%;
    border-radius: 6px;
}
.btn-create .btn-default:hover {
    background-color: #031b4e;
    color: white;
}
.ms--signup::before, .ms--signup::after {
    content: '';
    display: inline-block;
    width: 20%;
    height: 1px;
    background-color: #5b6987;
    position: relative; bottom: 4px;
}
.ms--signup span {
    color: #5b6987;
    font-size: 15px;
}
.lower-btns .btn-lg {
    background-color: #f3f5f9;
    width: 40%;
}
.lower-btns .btn-lg:hover {
    background-color: #d5e4f7;
}
.lower-btns i {
    margin-right: 8px;
}
.lower-btns {
    margin-top: 20px;
}
.formdeploy p {
    font-size: 12px;
    color: #939eb5;
}
.terms {
    margin-top: 40px;
}
@media all and (min-width: 768px) {
    .jumbotron {
        background-image:
    }
}
/* terza row */
.business {
    background-color: #f3f5f9;
}
.top-writing {
    margin-top: 40px;
}
.top-writing p {
    font-size: 13px;
    color: #939eb5;
}
.imglink {
    margin-bottom: 20px;
}
.bottom-writing a {
    font-size: 10px;
}
